{% extends 'base.html' %}

{% block javascript %}

{% endblock %}

{% block content %}
<body>
  <div class="container expand-on-small-only " style="height: 450px;">


        <div class="card index-div">
          <div class="card-content" style="height: calc(100% - 72px);">
              <div class="mdl-grid index-div">

                  <div class="mdl-cell mdl-cell--6-col mdl-typography--text-center index-div" style="">
                    <a href="{{url_for('signup_seeker')}}">
                      <input type="button" class="btn index-div" value="Looking for a Job?" style="width: 100%; white-space: normal;word-wrap: break-word;font-size: 40px">
                    </a>
                  </div>

                  <div class="mdl-cell mdl-cell--6-col mdl-typography--text-center index-div" style="">
                    <a href="{{url_for('signup_jobcenter')}}">
                      <input type="button" class="btn index-div" value="Offering a Job?" style="width: 100%; white-space: normal;word-wrap: break-word;font-size: 40px">
                    </a>
                  </div>

              </div>
              <div style="text-align: center">

                <h2 style="font-weight: 300;">or <a href="{{url_for('login')}}">login</a>?</h2>

              </div>
          </div>


    </div>
</body>
{% endblock %}
